@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@font-face {
  font-family: Prequel;
  src: url('./fonts/Prequel.ttf');
}

body * {
  font-family: 'PT Mono';
}

.btn-box-shadow {
  box-shadow: 3px 3px 0 0 #1F2933;
}

.font-prequel {
  font-family: Prequel;
}

.bg-dark {
  background: #232B47;
}

.collapse .collapse-body {
  display: none;
}


.collapse.active .collapse-body {
  display: block;
}

.collapse .icon .left {
  display: block;
}

.collapse.active .icon .left {
  display: none;
}

.collapse .icon .down {
  display: none;
}

.filter-invert {
  filter: invert(1);
}

.collapse.active .icon .down {
  display: block;
}

@media(min-width: 480px) and (max-width: 639px) {
  .create-new-post-container {
    width: 270px;
  }
}

@media(min-width: 480px) {
  .create-new-post {
    display: block;
  }
}